@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    flex-direction: column;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    margin: 0;
    text-align: center;
}

div { 
    padding:10px;
}

.container {
    width: 100%;
    max-width: 600px;
    padding: 20px;
}

.file {
    padding: 20px;

}

